<%- include('./partials/header.ejs') %> 

<header>
  <div class="smoothie">
    <img src="/smoothies.png" alt="">
  </div>
  <div class="headings">
    <h2>Fruits Recipes</h2>
    <h3>Hello world</h3>
    <a href="/smoothies" class="btn">View Recipes</a>
    
  </div>
</header>

<%- include('./partials/footer.ejs') %> 